Source: gelatin
Section: contrib/text
Priority: optional
Maintainer: Samuel Abels <knipknap@gmail.com>
Build-Depends: debhelper (>= 7), python-central (>= 0.6.0), cdbs (>= 0.4.49)
XS-Python-Version: >= 2.6
Standards-Version: 3.8.1
Homepage: http://wiki.github.com/knipknap/Gelatin/

Package: gelatin
Architecture: all
Depends: ${python:Depends}, python-json, python-lxml, python-yaml, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: Transform text files to XML, JSON, or YAML
 Gelatin is a parser generator for converting text to a structured
 format such as XML, JSON or YAML.
